.total-supply {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  padding-top: 48px;
  padding-bottom: 163px;
  @media screen and (max-width: 767px) {
    display: block;
  }
  .left-text,
  .table-total-supply {
    width: 62%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .left-text {
    div:first-child {
      color: var(--color-blue);
      font-size: 25px;
      font-weight: 500;
      padding-bottom: 10px;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
    div:nth-child(2) {
      font-size: 49px;
      font-weight: 500;
      color: var(--color-text-black);
      padding-bottom: 30px;
      @media screen and (max-width: 767px) {
        font-size: 25px;
      }
    }
    span {
      font-size: 18px;
      font-weight: 500;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
  .table-total-supply {
    width: 512px;
    height: auto;
    background-color: var(--color-bg-primary);
    border-radius: 20px;
    padding: 25px 40px;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
    .coin-info,
    .table-total-supply-footer {
      display: flex;
      justify-content: space-between;
    }
    h3 {
      font-size: 20px;
      font-weight: 800;
      color: var(--color-text-black);
      padding-bottom: 8px;
    }
    p {
      color: var(--color-blue);
      font-size: 20px;
      font-weight: 400;
      padding-bottom: 16px;
    }
  }
  .table-total-supply .money-market {
    font-size: 25px;
    font-weight: 800;
    color: var(--color-text-black);
  }
  .table-total-supply-footer {
    padding-top: 15px;
    .footer-text {
      color: var(--color-text-gray);
      font-size: 14px;
      font-weight: 500;
    }
    .footer-value {
      color: var(--color-text-black);
      font-size: 20px;
      font-weight: 500;
    }
  }
  hr {
    opacity: 0.2;
  }
}
