.total-borrows {
  margin-top: 163px;
  @media screen and (max-width: 767px) {
     margin-top: 56px;
  }
  .total-borrow-content {
    display: flex !important;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
    &__left {
      @media screen and (max-width: 767px) {
        padding-top: 0!important;
      }
      img.vector14 {
        position: absolute;
        top: 27%;
        left: 0%;
        z-index: 0;
        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      img.vector15 {
        position: absolute;
        z-index: 0;
        top: 62%;
        left: -5%;
        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      .children-content {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        width: 100%;
        padding: 25px 40px 27px 40px !important ;
        .title-content {
          font-size: 20px;
          font-weight: 800;
          color: #0b0f23;
        }
        .money-supply {
          font-size: 25px;
          font-weight: 800;
          color: #0b0f23;
        }
        .top-markets {
          color: #107def;
          font-size: 20px;
          font-weight: 400;
        }
        .coin-info {
          display: flex;
          justify-content: space-between;
          padding-bottom: 5px;
          padding-top: 21px;
          .coin-percent {
            font-size: 16px;
            font-weight: 500;
          }
        }
        .footer-content {
          &__left {
            &__title {
              font-size: 14px;
              font-weight: 500;
              color: #9d9fa7;
            }
            &__number {
              font-size: 20px;
              color: #0b0f23;
              font-weight: 500;
            }
          }
          &__right {
            &__title {
              font-size: 14px;
              font-weight: 500;
              color: #9d9fa7;
            }
            &__number {
              font-size: 20px;
              color: #0b0f23;
              font-weight: 500;
            }
          }
        }
      }
    }
    &__right {
      @media screen and (max-width: 767px) {
        padding-top: 0;
      }
      .title {
        font-size: 25px;
        color: #107def;
        font-weight: 500;
        padding-bottom: 10px;
      }
      .title-desciption {
        font-size: 49px;
        font-weight: 500;
        color: #0b0f23;
        width: 75%;
        padding-bottom: 30px;
        @media screen and (max-width: 767px) {
          font-size: 25px;
          width: 100%;
        }
      }
      .title-strike {
        font-size: 18px;
        font-weight: 500;
        color: #6d6f7b;
        width: 62%;
        @media screen and (max-width: 767px) {
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}
