
.markets-available {
  .markets-available-content {
    .title {
      text-align: center;
      color: #0b0f23;
      font-size: 50px;
      font-weight: 500;
      @media screen and (max-width: 767px) {
        font-size: 25px;
        margin-bottom: 20px;
      }
    }
    .markets-table {
      // margin: 0 200px;
      border-radius: 20px;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
      max-width: 1000px;
      margin: 0 auto;
      z-index: 2;
      font-size: 16px;
      @media screen and (max-width: 767px) {
        margin: 0 20px;
      }
      .title-table {
        color: #0B0F23;
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #E5E5E5;
      }
      .ant-table-body {
        .ant-table-column-title {
          color: #9D9FA7;
          font-size: 16px;
        }
        .ant-table-header-column {
          float: right;
        }
        .ant-table-thead th:first-child span{
          float: left;
        }
        .ant-table-row {
          .total-supply {
            float:right;
            padding: 0px;
            display: block;
            .row1 {
              font-size: 18px;
              font-weight: 500;
              color: var(--color-text-black);
            }
            .row2 {
              
            }
          }
        }
        .symbol {
          .token-type {
            img {
              width: 36px;
              height: 36px;
              @media screen and (max-width: 767px) {
                width: 18px;
                height: 18px;
              }
            }
            @media screen and (max-width: 767px) {
              margin-right: 5px;
            }
          }
        }
        td {
          cursor: pointer;
        }
        @media screen and (max-width: 767px) {
          .ant-table-column-title {
            color: #9D9FA7;
            font-size: 12px;
            word-break: break-word;
          }
          .ant-table-tbody {
            td {
              padding: 16px 0;
            }
          }
          .ant-table-thead {
            th {
              padding: 16px 5px 16px 0;
            }
          }
        }
      }
      &::after {
        content: '';
        position: absolute;
        z-index: -1 !important;
        max-width: 1120px;
        height: 500px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        top: 68px;
        left: -68px;
        right: -68px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      .color-black {
        color: #000000;
        font-size: 18px;
        @media screen and (max-width: 767px) {
          font-size: 10px;
        }
      }
      .text-ellipsis {
        @media screen and (max-width: 767px) {
          width: 90px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        @media screen and (max-width: 500px) {
          width: 60px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      
      .sub-value {
        font-size: 16px;
        @media screen and (max-width: 767px) {
          font-size: 10px;

        }
      }
    }
    @media screen and (max-width: 767px) {
      .ant-card-body {
        padding: 12px;
      }
    }
  }
}