.banner-homepage {
  margin-top: 86px;
  padding-bottom: 58px;
  @media screen and (max-width: 812px) {
    padding-bottom: 61px;
  }
  .banner-content {
    padding: 50px 0px;
    position: relative;
    @media screen and (max-width: 812px) {
      display: block;
    }
    .description {
      font-size: 48px;
      font-weight: 700;
      z-index: 2;
      color: var(--color-text-main);
      margin: auto 0;
      padding-left: 100px;
      position: relative;
      max-width: 850px;

      @media screen and (max-width: 812px) {
        font-size: 25px;
        padding-left: 20px;
        display: block;
      }

      @media screen and (device-width: 1024px) {
        font-size: 28px !important;
      }

      .arrow-down-fill {
        margin-top: 10px;
        margin-left: 50px;
      }
      .text-highlight {
        color: #107def;
        font-weight: 700;
        font-size: 60px;
      }
      .image-opacity {
        position: absolute;
        top: -50px;
        left: 40%;
      }
    }
    .image-banner {
      z-index: 1;
      margin-right: 50px;
      min-width: 500px;
      img {
        width: 100%;
      }
      @media screen and (max-width: 812px) {
        text-align: right;
        position: static;
        img {
          width: 217px;
        }
      }
      @media screen and (device-width: 1024px) {
        position: static;
        img {
          width: 80%!important;
        }
      }
    }
  }
  .scroll-image {
  }
}
