.wrap-blogs-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 197px 20px 0px;
  .bread-crumb {
    color: var(--color-text-gray);
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -1px;
  }
  .heading-descriptions {
    color: var(--color-white);
    font-size: 48px;
    font-weight: bold;
    line-height: 86px;
    letter-spacing: -1.92px;
  }
  .heading-descriptions:first-child {
    margin-top: 18px;
  }
  .new-blogs {
    margin-top: 100px;
    .heading-descriptions {
      margin-top: 24px;
    }
    .description {
      color: var(--color-text-gray);
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: -0.5px;
    }
    .new-blogs-grid {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      row-gap: 50px;
      column-gap: 28px;
    }
    button {
      padding: 12px 24px;
      position: relative;
      border: 1px solid var(--color-white);
      background: #1e1a22;
      color: var(--color-white);
      font-size: 18px;
      font-weight: 700;
      line-height: 36px;
      max-width: 169px;
      margin-top: 50px;
      span {
        margin-right: 19px;
      }

      img {
        position: absolute;
        right: 12px;
      }
    }
  }
}
